<%- include("header") -%>

<div class="form col-md-6">

  <form action="/register" method="post">

    <h2>Register to build your own account!</h2>
    <br />
    <div class="dropdown">
      <button
        class="btn btn-light dropdown-toggle select-btn"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Select category
      </button>
      <!-- <form action="/getjson" method="get"> -->
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#"> <input type="hidden" name="input" value="admin"> Admin </input> </a></li>
        <li><a class="dropdown-item" href="#"> <input type="hidden" name="input" value="teacher"> Teacher</input> </a></li>
        <li><a class="dropdown-item" href="#"> <input type="hidden" name="input" value="student"> Student</input> </a></li>
      </ul>
    <!-- </form> -->
    </div>
    <input type="text" name="fname" placeholder="Your First Name"  >
    <input type="text" name="lname" placeholder="Your Last Name"  >
    <input
      type="text"
      onclick="this.type='date'"
      onblur="this.type='text'"
      placeholder="Your Date of Birth   :"
      name="dob"
    />
    <input type="email" name="email" placeholder="Your Email id"  >
    <input type="text" name="phoneno" placeholder="Your Phone no. "  >
  
    <input type="text" placeholder=" Your Registration Number" name="regno"  >
    <input type="password" placeholder="Type your password" name="password"  >
    <button
      type="submit"
      class="btn btn-sm btn-primary"
    >
      Register
    </button>
    <button
      type="submit"
      class="btn btn-sm btn-primary"
      name="button"
      value="back"
    >
      Go Back
    </button>

  </form>
  
</div>

<%- include("footer") -%>
