html{
    background-color: #ebe9ff;
    height:100%;
}
body{
    margin:0 15vw 0 15vw;
    border-radius: 6px;
    box-shadow: 10px 5px 5px grey;
    background-color: rgb(118, 171, 187);
    background-image: linear-gradient(to right, rgb(1, 120, 231), rgb(144, 208, 250), rgb(130, 173, 252), rgb(60, 89, 255), rgb(227, 207, 241), violet, blue);
}
.body{
    padding:2rem;
}
.que{
    padding-bottom:2rem;
}
*{
    box-sizing: border-box;
    margin: 0;   
}
.header{
    width: 100%;
    position: sticky;
    top: 0%;
    background-image: linear-gradient(rgb(200, 255, 255), rgb(0, 89, 255));
}

.profile{
    padding:40px;
    text-align: center;
    font-weight: 900;
    font-size: 3vw;
}

.nav{
    padding: 15px;
    text-align: center;
    background-color: #000000ba;
    color: white;
   
}
span{
    margin:0 3vw 0 3vw;
    font-size: 1.5rem;
}
.main{
    padding: 3vw;
    background-color: #dfeefd5e;
    color: black;
    
}
button{
    background-color:#0000005d ;
    padding:5px;
    border:none;
    color:white;
    border-radius: 6px;

}
button:hover{
    /* color: rgba(255, 255, 255, 1); */
  box-shadow: 5px 5px 5px rgba(112, 197, 253, 0.89);
    background-color: black;
}

.user{
    margin:2vh 0 2vh 0;
}
input[type="checkbox"]{
    margin-right: 15px;
}

.question-input, .question-input input, .questions{
    display:block;
    margin:15px 3vw 15px 3vw;
}
.question-input input{
    margin:1vh 3vw 15px 1vh;
    width:100%;
}
input[type="radio"], .questions p{
    margin-left:5vw;
}

.button{
    float:right;
    margin-left:5vw;
    padding: 8px;
}
.nav button{
    padding: 10px;
}

input{
    padding:10px;
    border: none;
    border-radius: 5px;
}
#logout{
    background-color: rgb(51, 79, 207);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
#logout:hover{
    background-color: aqua;
    color: rgb(34, 0, 112);
}
#score-card{
    display: flex;
    justify-content: center;
    align-items: center;
}
#result{
    padding:3rem;
    text-align: center;
    margin: auto;
    background-color: #ffffff98;
    width:auto;
}


