
*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #b6c1cc;
}
.main-box{
    margin: 40px auto 35px auto ;
    width:2000px;
    background-image: linear-gradient(180deg, #0083ff,lightblue,white,lightblue,#0083ff);
    padding:10px;
    border-radius: 6px;
    box-shadow: 10px 5px 5px grey;
}
nav{
    margin: 0 0 25px 0;
}

/* select category options */
#dropdownMenuButton1{
    margin: 5px 0 5px 0;
    border:1px solid #0083ff;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
}
.dropdown-toggle, .dropdown-menu
{
    text-align: left;
    width:100%;    
}
.dropdown-toggle
{
    display: flex;
    justify-content: space-between;
    margin: 10px 0 10px 0 ;
}

img{
    width:30vw;
    margin:25px;
    clip-path: polygon(1% 13%, 85% 14%, 100% 51%, 82% 85%, 0 85%);
}
/* login and registration page */
input
{
    width:100%;
    padding: 5px 5px 5px 5px;
    margin: 5px 0 5px 0;
    border:1px solid #0083ff ;
    border-radius: 6px;
    
}
input[type="date"]{
    width:auto;
    display:inline-block;
    margin: auto;

}
input[name="fname"], input[name="lname"]{
    width:49%;
    display:inline;
}
.form{
    margin:auto;
    padding:0 20px 0 25px;
}
.front-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button css */
.btn-sm{
    margin:0 15px 0 0 ;
    background-color: #0f548d;
    border: 1px solid rgb(0, 78, 151);
    color:white;
}
.btn-sm:hover{
    font-weight: 5px;
    color:black;
}
.register, .login{
    margin:0 20px 0 20px;   
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:white;
}



